<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:src="@{https:////ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet"></link>
  </head>
  <body>

    <div th:include="fragments :: header"></div>

    <div class="container">
      <div class="alert alert-success" role="alert" id="ok" style="display: none">
        <p>Local schema has been removed.</p>
      </div>
      <div class="alert alert-danger" role="alert" id="error-remove" style="display: none">
        <p>Error while removing local schema.</p>
      </div>
      <div class="alert alert-danger" role="alert" id="error-edit" style="display: none">
        <p>Error while editing schema meta data.</p>
      </div>
      <h1>Local Schemas List</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Source</th>
            <th scope="col">Columns</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="localSchema : ${localSchemaList}">
          <td th:text="${localSchema.id}"></td>
          <td th:text="${localSchema.name}"></td>
          <td th:text="${localSchema.source.name}"></td>
          <td>
            <div th:id="${'noedit-'+localSchema.id}" >
              <dl class="dl-horizontal" th:each="column : ${localSchema.localSchemaColumn}">
                <dt th:text="${column.name}"></dt>
                <dd th:text="${column.type}" ></dd>
              </dl>
            </div>
            <div th:id="${'edit-'+localSchema.id}" style="display: none">
              <form th:id="${'form-'+localSchema.id}" role="form">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Column name</th>
                      <th scope="col">Source column name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Transformation</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="column : ${localSchema.localSchemaColumn}">
                      <td th:text="${column.name}">
                        <input type="text" th:value="${column.name}" class="form-control" th:id="${'columnType-'+localSchema.id}" />
                      </td>
                      <td th:text="${column.sourceName}"></td>
                      <td>
                        <select class="form-control" th:id="${'columnType-'+localSchema.id}">
                          <option th:selected="${column.type == 'BOOLEAN'}" value="BOOLEAN">Boolean</option>
                          <option th:selected="${column.type == 'INTEGER'}" value="INTEGER">Integer</option>
                          <option th:selected="${column.type == 'DOUBLE'}" value="DOUBLE">Double</option>
                          <option th:selected="${column.type == 'STRING'}" value="STRING">String</option>
                          <option th:selected="${column.type == 'DATE'}" value="DATE">Date</option>
                        </select>
                      </td>
                      <td th:text="${column.transformation.name}">
                        <select class="form-control" th:id="${'columnType-'+localSchema.id}">
                          <option th:selected="${column.transformation.name == 'concat'}" value="concat">concat()</option>
                          <option th:selected="${column.transformation.name == 'diff'}" value="diff">diff()</option>
                          <option th:selected="${column.transformation.name == 'div'}" value="div">div()</option>
                          <option th:selected="${column.transformation.name == 'identity'}" value="identity">identity()</option>
                          <option th:selected="${column.transformation.name == 'mul'}" value="mul">mul()</option>
                          <option th:selected="${column.transformation.name == 'numeric'}" value="numeric">numeric()</option>
                          <option th:selected="${column.transformation.name == 'sum'}" value="sum">sum()</option>
                        </select>
                      </td>
                      <td>
                        <a href="#" class="remove btn btn-danger" th:attr="data-id=${column.id}">Remove</a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>
                        <input type="text" placeholder="New column name" class="form-control new-column" />
                      </td>
                      <td>
                        <input type="text" placeholder="Source column name" class="form-control new-source-column" />
                      </td>
                      <td>
                        <select class="form-control new-type">
                          <option value="BOOLEAN">Boolean</option>
                          <option value="INTEGER">Integer</option>
                          <option value="DOUBLE">Double</option>
                          <option value="STRING">String</option>
                          <option value="DATE">Date</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control new-transformation">
                          <option value="concat">concat()</option>
                          <option value="diff">diff()</option>
                          <option value="div">div()</option>
                          <option value="identity">identity()</option>
                          <option value="mul">mul()</option>
                          <option value="numeric">numeric()</option>
                          <option value="sum">sum()</option>
                        </select>
                      </td>
                      <td>
                        <a href="#" class="add btn btn-success">Add</a>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-6">
                    <a href="#" id="cancel" class="remove btn btn-default" th:attr="data-id=${localSchema.id}">Cancel</a>
                    <a href="#" id="save" class="remove btn btn-success" th:attr="data-id=${localSchema.id}">Save</a>
                  </div>
                </div>
              </form>
            </div>
          </td>

          <td>
             <a href="#" id="edit-btn" class="remove btn btn-default" th:attr="data-id=${localSchema.id}">Edit</a>
             <a href="#" id="remove" class="remove btn btn-danger" th:attr="data-id=${localSchema.id}">Remove</a>


          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
    //<![CDATA[
      jQuery(function($) {
        $('table #edit-btn').on('click', function (e) {
          var $id = $(this).data('id');
          $('#noedit-' + $id).hide();
          $('#edit-' + $id).show();

        });
      });

      jQuery(function($) {
        $('table #cancel').on('click', function (e) {
          if (confirm('Not saved changes. Are you sure?')) {
            var $id = $(this).data('id');
            $('#noedit-' + $id).show();
            $('#edit-' + $id).hide();
          }
        });
      });

      jQuery(function($){
        $('table #save').on('click', function(e) {
          e.preventDefault();

          var $id = $(this).data('id');
          var cols = {};
          var $names =  $('#edit-'+$id+' dt');

          for (var i=0; i < $names.length; i++){
            cols[$names.get(i).innerText] = $('#form-'+$id+' input').get(i).value;
          }

          $.ajax({
            url: "http://localhost:8080/localSchema/edit/",
            type: "POST",
            data: {
              localSchemaId: $id,
              columns: JSON.stringify(cols)
            }
          }).done(function (data) {
            if (data == "OK") {
              location.href = "http://localhost:8080/localSchemaList/";
            } else {
              $("#error-edit").slideDown();
              setTimeout(function () {
                $("#error-edit").slideUp();
              }, 5000);
            }
          });

        });
      });

      jQuery(function($){
        $('table #remove').on('click', function(e) {
          e.preventDefault();
          if (confirm('Are you sure?')) {
            var $item = $(this).closest('tr');
            $.ajax({
              url: "http://localhost:8080/localSchema/remove",
              type: "POST",
              data: {
                id: $(this).data('id')
              }
            }).done(function (data) {
              if (data == "OK") {
                $("#ok").slideDown();
                setTimeout(function () {
                  $("#ok").slideUp();
                }, 5000);
                $item.remove();
              } else {
                $("#error-remove").slideDown();
                setTimeout(function () {
                  $("#error-remove").slideUp();
                }, 5000);
              }
            });
          }
        });
      });
      //]]>
    </script>
  </body>
</html>