<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:src="@{https:////ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
  </head>
  <body>

    <div th:include="fragments :: header"></div>
    <div class="container">
      <h1>Create mapping</h1>

      <div class="col-sm-3">
        <table id="source" class="table table-striped">
          <thead>
            <tr>
              <th scope="col" th:cols="2">Source</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="source : ${sourceList}">
              <td th:text="${source.id}" th:attr="data-id=${source.id}"></td>
              <td th:text="${source.name}" th:attr="data-id=${source.id}"></td>
              <td th:text="${source.sourceType}" th:attr="data-id=${source.id}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table id="column" class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> Column</th>
              <th scope="col">Type</th>
              <th scope="col">Transform</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <div th:each="localSchema : ${localSchemaList}">
              <tr th:each="column : ${localSchema.localSchemaColumn}">
                <td th:text="${column.name}" th:attr="data-source-id=${localSchema.source.id}"></td>
                <td th:text="${column.type}" th:attr="data-source-id=${localSchema.source.id}"></td>
                <td th:attr="data-source-id=${localSchema.source.id}">Empty</td>
                <td th:attr="data-source-id=${localSchema.source.id}">
                  <button type="button" class="btn btn-info edit" th:attr="data-source-id=${localSchema.source.id}">Edit</button>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" id="add">Add</button>
      </div>
      <div class="col-sm-3">
        <table id="global" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Local</th>
              <th scope="col">Global</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A_1</td>
              <td>A_2</td>
              <td>INT</td>
            </tr>
            <tr>
              <td>A_1</td>
              <td>A_2</td>
              <td>INT</td>
            </tr>
            <tr>
              <td>A_1</td>
              <td>A_2</td>
              <td>INT</td>
            </tr>
            <tr>
              <td>A_1</td>
              <td>A_2</td>
              <td>INT</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" id="addGlobal">Add</button>
        <button type="button" class="btn btn-default" id="save">Save</button>
      </div>

    </div>
    <script type="text/javascript">
      jQuery(function ($) {
        $('#source td').click(function (e) {
          var id = $(this).data('id')

          $("#column td").removeClass('success');

          var elements = $("#column td").filter(function () {
            return $(this).data("source-id") == id;
          });

          $(elements).addClass('success');

          e.stopPropagation();
        });

      });
    </script>
  </body>
</html>