<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:src="@{https:////ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet"></link>
  </head>
  <body>

    <div th:include="fragments :: header"></div>

    <div class="container">
      <div class="alert alert-success" role="alert" id="ok" style="display: none"></div>
      <div class="alert alert-danger" role="alert" id="error" style="display: none"></div>
      <h1>Create new source:</h1>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name:</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">Select type:</label>

          <div class="col-sm-6">
            <select class="form-control" id="type">
              <option selected="selected">CSV</option>
              <option>DATABASE</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="refreshInterval" class="col-sm-2 control-label">Refresh interval:</label>
          
          <div class="col-sm-6">
            <input type="number" class="form-control" id="refreshInterval" placeholder="Number of minutes" value="5" />
            <span>minutes</span>
          </div>
        </div>
        <div id="nodb">
          <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Url:</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" id="url" placeholder="url"/>
            </div>
          </div>
        </div>
        <div class="db" style="display: none">
          <div class="form-group">
            <label for="host" class="col-sm-2 control-label">Host:</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" id="host" placeholder="host"/>
            </div>
          </div>
          <div class="form-group">
            <label for="port" class="col-sm-2 control-label">Port:</label>

            <div class="col-sm-6">
              <input type="number" class="form-control" id="port"/>
            </div>
          </div>
          <div class="form-group">
            <label for="user" class="col-sm-2 control-label">User:</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" id="user" placeholder="user"/>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password:</label>

            <div class="col-sm-6">
              <input type="password" class="form-control" id="password" placeholder="password"/>
            </div>
          </div>
          <div class="form-group">
            <label for="database" class="col-sm-2 control-label">Database:</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" id="database" placeholder="database"/>
            </div>
          </div>
          <div class="form-group">
            <label for="table" class="col-sm-2 control-label">Table:</label>

            <div class="col-sm-6">
              <input type="text" class="form-control" id="table" placeholder="table"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="button" class="btn btn-default" id="create">Create</button>
            <button type="button" class="btn btn-default db" id="test-connection" style="display: none">Test Connection</button>
          </div>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      $('#type').on('change', function () {
        if ($(this).val() == 'DATABASE') {
          $('#nodb').hide();
          $('.db').show();
        } else {
          $('.db').hide();
          $('#nodb').show();
        }
      });

      function sourceCreatedOk() {
        alert('ok', 'Creating source successful.');
      }

      function sourceCreatedError() {
        alert('error', 'Error on creating source.');
      }

      function alert(id, text) {
        var box = $('#' + id);
        box.text(text);
        box.show();
        setTimeout(function () {
          box.hide();
        }, 5000);
      }

      $('#test-connection').on('click', function () {
        $.ajax({
          url: "http://localhost:8080/source/test/db/",
          type: "POST",
          data: {
            host: $('#host').val(),
            port: $('#port').val(),
            user: $('#user').val(),
            password: $('#password').val(),
            database: $('#database').val()
          }
        }).done(function (data) {
          if (data == "OK") {
            alert('ok', 'Connection test successful.');
          } else {
            alert('error', data);
          }
        })
      });

      $('#create').on('click', function () {
        if ($('#type').val() == 'DATABASE') {
          $.ajax({
            url: "http://localhost:8080/source/add/db/",
            type: "POST",
            data: {
              name: $("#name").val(),
              host: $('#host').val(),
              port: $('#port').val(),
              user: $('#user').val(),
              password: $('#password').val(),
              database: $('#database').val(),
              table: $('#table').val()
            }
          }).done(function (data) {
            if (data == "OK") {
              sourceCreatedOk();
            } else {
              sourceCreatedError();
            }
          })
        } else {
          $.ajax({
            url: "http://localhost:8080/source/add/url/",
            type: "POST",
            data: {
              name: $("#name").val(),
              type: $('#type').val(),
              url: $('#url').val()
            }
          }).done(function (data) {
            if (data == "OK") {
              sourceCreatedOk();
            } else {
              sourceCreatedError();
            }
          })
        }
      });
    </script>
  </body>
</html>